.row .h2{
    text-align: center;
    color:#0056b3;
    background-color: #ffe8a1;
    width:100%;
}

.table thead {
    background-color: #e0a800;
    color:#721c24;
}
.table tbody tr:nth-child(odd){
    background-color: #abdde5;
    color:#dc3545;
}
.table tbody tr:nth-child(even){
    background-color: #b1dfbb;
    color:#383d41;
}

